// Typography
$primary-font: Helvetica, Arial, sans-serif;

// Color
$color-brand-primary: #d80073;
$color-typography-primary: #212121;
$color-typography-secondary: #666666;
$color-typography-disabled: #9e9e9e;

// Utils
$header-height: 80px;
$footer-height: 60px;

// Mixins
@mixin container {
	width: calc(100vw - 40px);
	margin: 0 auto;
	max-width: 1200px;

	@include media(tablet) {
		width: calc(100vw - 80px);
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $primary-font;
	color: $color-typography-primary;
	overflow-x: hidden;
	font-size: 18px;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	@include container();
}

.text--highlight {
	color: $color-brand-primary;
	font-weight: bold;
}

.button {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
	&--primary {
		background-color: $color-brand-primary;
		color: white;
	}
}