@import './breakpoints';
@import './grids';
@import './generic';

.header {
	height: $header-height;
	width: 100%;
	display: flex;
	align-items: center;
	.container {
		align-items: center;
		@include display-grid();
		@include grid-template-columns(1fr 1fr);
	}
	&__nav {
		border-bottom: 1px solid rgba($color-brand-primary, .3);
		ul {
			list-style: none;
			display: flex;
			align-items: center;
		}
		&-link {
			padding: 16px;
			&:active,
			&:focus,
			&--active {
				padding: 16px;
				color: $color-brand-primary;
				border-bottom: 2px solid $color-brand-primary;
			}
		}
	}
	&__username-link {
		margin-left: auto;
	}
}

.hero {
	height: calc(100vh - 80px - 60px);
	min-height: 500px;
	.container {
		height: 100%;
		@include display-grid();
		@include grid-template-columns(1fr);

		@include media(tablet) {
			@include grid-template-rows(1fr 1fr);
		}

		@include media(desktop-s) {
			padding-top: 10vh;
			@include grid-template-columns(1fr 500px);
			@include grid-template-rows(1fr);
		}
	}
	&__text {
		padding-top: 70px;
		@include media (tablet) {
			padding-top: 90px;
			margin-bottom: 30px;
		}
		h1 {
			font-weight: normal;
			font-size: 70px;
			margin-bottom: 20px;
		}
		p {
			font-size: 24px;
			line-height: 1.5;
			letter-spacing: 1px;
			margin-bottom: 30px;
			color: $color-typography-secondary;
			span {
				font-weight: bold;
				color: $color-typography-primary;
			}
		}
	}
	&__img {
		display: none;
		@include media(tablet) {
			display: flex;
			align-items: flex-start;
			img {
				object-fit: contain;
				max-height: 40vh;
				margin: 0 auto;

				@include media(desktop-m) {
					max-height: initial;
					width: 100%;
				}
			}
		}
	}
}

.footer {
	width: 100%;
	height: $footer-height;
	display: flex;
	justify-content: center;
	align-items: center;
	&__copyright {
		text-align: center;
		color: $color-typography-secondary;
		font-size: 14px;
	}
}